<% provide :title, t(".About_title") %>
    <h1><%= t ".t0" %></h1>
    <p>
      <%= t ".t1" %> <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a> <%= t ".t2" %> <a href="http://www.railstutorial.org/book"><%= t ".t3" %></a> <%= t ".t4" %> <a href="http://screencasts.railstutorial.org/"> <%= t ".t5" %> </a>
      <%= t ".t6" %> <a href="http://rubyonrails.org/">Ruby on Rails</a>.
      <%= t ".t7" %>
    </p>
<%= link_to "English", locale:"en" %>
<%= link_to "Vietnamese", locale:"vi" %><br>
<%= link_to "i18n test", "i18n" %> ||
<%= link_to "Home", "static_pages/home" %> ||
<%= link_to "Help", "static_pages/help" %>
