<% provide :title, t(".about_title") %>
<h1><%= t ".t0" %></h1>
<p>
  <%= t ".t1" %>
  <a href="http://www.railstutorial.org/">
    <%= t ".t8" %>
  </a>
  <%= t ".t2" %>
  <a href="http://www.railstutorial.org/book">
    <%= t ".t3" %>
  </a> <%= t ".t4" %>
  <a href="http://screencasts.railstutorial.org/"> <%= t ".t5" %> </a>
  <%= t ".t6" %> <a href="http://rubyonrails.org/"><%= t ".t9" %></a>.
  <%= t ".t7" %>
</p>
