<% provide :title, t(".help_title") %>
<h1><%= t ".t0" %></h1>
<p>
  <%= t ".t1" %>
  <a href="http://www.railstutorial.org/help"><%= t ".t2" %></a>.
  <%= t ".t3" %>
  <a href="http://www.railstutorial.org/book"><em><%= t ".t4" %></em></a>.
</p>
