<% provide :title, t(".Help_title") %>
<h1><%= t ".t0" %></h1>
  <p>
    <%= t ".t1" %>
    <a href="http://www.railstutorial.org/help"><%= t ".t2" %></a>.
    <%= t ".t3" %>
    <a href="http://www.railstutorial.org/book"><em>Ruby on Rails
    Tutorial</em> book</a>.
  </p>
<%= link_to "English", locale:"en" %>
<%= link_to "Vietnamese", locale:"vi" %><br>
<%= link_to "i18n test", "i18n" %> ||
<%= link_to "Home", "static_pages/home" %> ||
<%= link_to "About", "static_pages/about" %>
