<% provide :title, t(".Home_title") %>
<h1><%= t ".title" %></h1>
<h2>
  <%= t ".t1" %>
  <a href="http://www.railstutorial.org/"><%= t ".t3" %></a>
  <%= t ".t2" %>
</h2>
<%= link_to t(".la1"), locale:"en" %>
<%= link_to t(".la2"), locale:"vi" %>
