<% provide :title, "i18n test page" %>
<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %> | Ruby on Rails Tutorial Sample App</title>
</head>
<body>
  <h1 class="shadow" ><%= t ".hello" %></h1>
  <h3 class="shadow" >~~~~~<%= t ".profile" %>~~~~~</h3>
  <address>
    <strong><%= t ".address" %>:</strong><br>
    1355 Market Street, Suite 900<br>
    San Francisco, CA 94103<br>
    <abbr title=<%= t ".phone" %>>P:</abbr> (123) 456-7890
  </address>
  <address>
    <strong><%= t ".full_name" %>:</strong><br>
    <a href="#">first.last@example.com</a>
  </address>
<%= link_to "English", locale:"en" %>
<%= link_to "Vietnamese", locale:"vi" %><br>
<%= link_to "Home", "static_pages/home" %> ||
<%= link_to "About", "static_pages/about" %> ||
<%= link_to "Help", "static_pages/help" %>
</body>
</html>
