<footer class="footer">
  <small>
    <%= t "footer_t1" %> <a href="http://www.railstutorial.org/"> <%= t "footer_t2" %> </a>
    <%= t "footer_t3" %> <a href="http://www.michaelhartl.com/"> <%= t "footer_t4" %> </a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("lang_en"), locale:"en" %></li>
      <li><%= link_to t("lang_vi"), locale:"vi" %></li>
      <li><%= link_to t("about_title"), about_path %></li>
      <li><%= link_to t("help_title"), help_path %></li>
      <li><%= link_to t("contact_title"), contact_path %></li>
      <li><a href="http://news.railstutorial.org/"><%= t"news_title" %></a></li>
    </ul>
  </nav>
</footer>
